meta(charset="UTF-8")
title About
link(rel="stylesheet", href="style.css")
header
  .logo
    img(src="logo.png", alt="Company Logo")
  nav.navigation
    ul
      li
        a(href="landing_page.html") Home
      li
        a(href="about.html") About
      li
        a(href="career.html") Career
      li
        a(href="contact.html") Contact
  .login-signup
    button.login
      a(href="log_in.html") Login
    button.signup
      a(href="sign_up.html") Sign Up
section.about
  h2 About
  p Population 360 is your go-to source for accurate and up-to-date information on population statistics from around the world. Our comprehensive reports provide detailed data on the population of continents, countries, cities, regions, and districts, as well as the total world population. In addition, we offer insight into the number of individuals who speak Chinese, English, Hindi, Spanish, and Arabic, along with their respective percentages of the global population. Whether you're conducting research, planning a trip, or simply curious about the world we live in, Population 360 is your one-stop-shop for all things population-related.
.card-container
  .card
    .card-border-top.
      
      
    .img.
      
      
    span Jad Korayani
    p.job Scrum Master/Front End Developer
  .card
    .card-border-top.
      
      
    .img.
      
      
    span Anas Boufangara
    p.job Back End Developer
  .card
    .card-border-top.
      
      
    .img.
      
      
    span Jaskaranbir Singh Pawar
    p.job Front End Developer
  .card
    .card-border-top.
      
      
    .img.
      
      
    span Logan Sicking
    p.job Product Owner/Data Base Designer
footer
  nav.navigation
    ul
      li
        a(href="landing_page.html") Home
      li
        a(href="about.html") About
      li
        a(href="career.html") Career
      li
        a(href="contact.html") Contact
  .email-message
    a(href="contact.html")
      img(src="email_icon.png", alt="Email/Message")