meta(charset="UTF-8")
title Log in
link(rel="stylesheet", href="style.css")
header
  .logo
    img(src="logo.png", alt="Company Logo")
  nav.navigation
    ul
      li
        a(href="landing_page.html") Home
      li
        a(href="about.html") About
      li
        a(href="career.html") Career
      li
        a(href="contact.html") Contact
  .login-signup
    button.login
      a(href="log_in.html") Login
    button.signup
      a(href="sign_up.html") Sign Up
form.log_in
  input.input(placeholder="Email address or phone number", type="text")
  input.input#password(placeholder="Password", type="password")
  button#loginBtn Log in
  a#forgotPassword(href="#") Forgotten password?
  button.create#createAccountBtn Create new account
footer
  nav.navigation
    ul
      li
        a(href="landing_page.html") Home
      li
        a(href="about.html") About
      li
        a(href="career.html") Career
      li
        a(href="contact.html") Contact
  .email-message
    a(href="contact.html")
      img(src="email_icon.png", alt="Email/Message")