doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    title Career Page
    link(rel="stylesheet", href="style.css")
    
  body
  
    header
      .logo
        img(src="logo.png", alt="Company Logo")
      nav.navigation
        ul
          li
            a(href="landing_page.pug") Home
          li
            a(href="about.pug") About
          li
            a(href="career.pug") Career
          li
            a(href="contact.pug") Contact
            
      .login-signup
        button.login Login
        button.signup Sign Up
        
    .container
      .box
        .image
          img(src="data.png", alt="Image 2")
        h3
          b Data Administrator
        p We're looking for a Data Admins
        p
          small Must have prior experience
        p
          small Contact us for more information about this role
        p
          small
            a(href="contact.pug") Contact us
            
      .box
        .image
          img(src="dataana.png", alt="Image 3")
        h3
          b Data Analyst
        p We're looking for Data Analysts
        p
          small Must have prior experience
        p
          small Contact us for more information about this role
        p
          small
            a(href="contact.pug") Contact us
            
      .box
        .image
          img(src="web.png", alt="Image 4")
        h3
          b Web Developer
        p We're looking for Web Devs
        p
          small Must have prior experience
        p
          small Contact us for more information about this role
        p
          small
            a(href="contact.pug") Contact us
            
    footer
      nav.navigation
        ul
          li
            a(href="landing_page.pug") Home
          li
            a(href="about.pug") About
          li
            a(href="career.pug") Career
          li
            a(href="contact.pug") Contact
            
      .email-message
        a(href="contact.pug")
          img(src="email_icon.png", alt="Email/Message")
