extends ./Index 

block content
    .contact-form
      span.heading Contact Us
      form
        label(for='name') Name:
        input(type='text', required='')
        label(for='email') Email:
        input#email(type='email', name='email', required='')
        label(for='message') Message:
        textarea#message(name='message', required='')
        button(type='submit') Submit