header
    .logo
        img(src='logo.png', alt='Company Logo')
    nav.navigation
        ul
          li
            a(href='home').el Home
          li
            a(href='about').el About
          li
            a(href='career').el Career
          li
            a(href='contact').el Contact
          li
            a(href='data').el Data
          li
            a(href='login').el Login/Logout
          li
            a(href='register').el Register
          li
            a(href='crud').el CRUD
    .login-signup
        button.login
        button.signup
