doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    style
        include ./Styles/Style.css
        include ./Styles/Style2.css
        include ./Styles/CrudStyle.css
    title #{title} | WHATABYTE
  body
    include Header.pug

    block content

    include Footer.pug