footer
    nav.navigation
        ul
            li
                a(href='home') Home
            li
                a(href='about') About
            li
                a(href='career') Career
            li
                a(href='contact') Contact
            li
                a(href='data') Data
    .email-message
        a(href='#contact')
        img(src='email_icon.png', alt='Email/Message')