header
    .logo
        img(src='logo.png', alt='Company Logo')
    nav.navigation
        ul
          li
            a(href='home') Home
          li
            a(href='about') About
          li
            a(href='career') Career
          li
            a(href='contact') Contact
          li
            a(href='data') Data
    .login-signup
        button.login Login
        button.signup Sign Up