extends ./Index 

block content
    section.about
        h2 About
        p Population 360 is your go-to source for accurate and up-to-date information on population statistics from around the world. Our comprehensive reports provide detailed data on the population of continents, countries, cities, regions, and districts, as well as the total world population. In addition, we offer insight into the number of individuals who speak Chinese, English, Hindi, Spanish, and Arabic, along with their respective percentages of the global population. Whether you&apos;re conducting research, planning a trip, or simply curious about the world we live in, Population 360 is your one-stop-shop for all things population-related.
    div.card-container
        div.card
            .card-border-top
            .img
            span Jad Korayani
            p.job Scrum Master/Front End Developer
        div.card
            .card-border-top
            .img
            span Anas Boufangara
            p.job Back End Developer
        div.card
            .card-border-top
            .img
            span Jaskaranbir Singh Pawar
            p.job Front End Developer
        div.card
            .card-border-top
            .img
            span Logan Sicking
            p.job Product Owner/Data Base Designer