extends ./Index

block content 
    .container
      .box
        .image
          img(src="data.png", alt="Image 2")
        h3
          b Data Administrator
        p We're looking for a Data Admins
        p
          small Must have prior experience
        p
          small Contact us for more information about this role
        p
          small
            a(href="contact.html", target="_blank") Contact us
            
      .box
        .image
          img(src="dataana.png", alt="Image 3")
        h3
          b Data Analyst
        p We're looking for Data Analysts
        p
          small Must have prior experience
        p
          small Contact us for more information about this role
        p
          small
            a(href="contact.html", target="_blank") Contact us
            
      .box
        .image
          img(src="web.png", alt="Image 4")
        h3
          b Web Developer
        p We're looking for Web Devs
        p
          small Must have prior experience
        p
          small Contact us for more information about this role
        p
          small
            a(href="contact.html", target="_blank") Contact us